.modal-dialog {
  margin-top: 100px;
}
.modal-header {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #327EC0;
  color: #FFF;
}
.modal-header .close {
  margin-top: 3px;
}
.modal-header .modal-title {
  font-size: 14px;
  line-height: 25px;
}
.modal-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-body {
  min-height: 100px;
}
.modal-content {
  border-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.dropdown-menu a {
  cursor: pointer;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.navbar {
  border-radius: 0;
  margin: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}
.navbar .btn {
  margin-right: 10px;
  margin-top: 10px;
}
.navbar > .btn:first-child {
  margin-left: 10px;
}
#export-btn {
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}
#export-btn .btn {
  margin: 0;
}
.container {
  display: flex;
  flex: 1;
}
.sidebar {
  position: fixed;
  width: 200px;
  top: 50px;
  bottom: 0;
  background: #FCFCFC;
  padding: 4px;
  border-right: 1px solid #DDD;
}
.main {
  margin-left: 200px;
  margin-top: 50px;
  padding: 4px;
}
.loading {
  position: fixed;
  left: 50%;
  top: 30%;
  width: 200px;
  margin-left: -100px;
  line-height: 24px;
  text-align: center;
  display: none;
}
.selection-range {
  position: absolute;
  z-index: 6;
  display: none;
  border: 1px solid #CCC;
  background: rgba(222, 222, 222, 0.5);
  pointer-events: none;
}
@font-face {
  font-family: 'fonteditor';
  src: url('../font/iconfont.ttf') format('truetype');
}
.i-edit,
.i-del {
  display: inline-block;
  font-family: 'fonteditor';
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
}
.i-edit:hover,
.i-del:hover {
  cursor: pointer;
  color: blue;
}
.i-edit:before {
  content: '\e605';
}
.i-del:before {
  content: '\e611';
}
.project .project-title {
  font-weight: bold;
}
.project .project-list {
  line-height: 24px;
}
.project .project-list div {
  padding: 0 10px;
}
.project .project-list div:hover {
  background: #EFEFEF;
}
.project .project-list div:hover .i-del {
  display: block;
}
.project .project-list .i-del {
  float: right;
  display: none;
}
.glyf-list {
  padding-bottom: 40px;
  overflow: hidden;
}
.glyf-list > .glyf-item {
  float: left;
  position: relative;
  margin: 10px;
  width: 86px;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 1px #EEE;
  border-radius: 6px;
  cursor: pointer;
}
.glyf-list > .glyf-item .unicode,
.glyf-list > .glyf-item .name {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.glyf-list > .glyf-item .unicode {
  color: green;
  border-top: 1px solid #CCC;
}
.glyf-list > .glyf-item .glyf {
  width: 60px;
  height: 60px;
  margin: 10px;
}
.glyf-list > .glyf-item .glyf .path {
  fill: green;
}
.glyf-list > .glyf-item .i-del,
.glyf-list > .glyf-item .i-edit {
  position: absolute;
  right: 2px;
  display: none;
}
.glyf-list > .glyf-item .i-edit {
  right: 20px;
}
.glyf-list > .glyf-item:hover {
  background: #EFEFEF;
}
.glyf-list > .glyf-item:hover .path {
  fill: darkgreen;
}
.glyf-list > .glyf-item:hover .i-del,
.glyf-list > .glyf-item:hover .i-edit {
  display: block;
}
.glyf-list > .compound .path {
  fill: lightgreen!important;
}
.glyf-list > .new .path {
  fill: blue!important;
}
.glyf-list > .selected {
  background: #EBFFC2!important;
}
.glyf-list.no-hover .glyf-item {
  pointer-events: none;
}
