{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "graphics": "./src/graphics",
                    "math": "./src/math",
                    "fonteditor-core": "./node_modules/fonteditor-core/lib"
                }
            }
        ]
    ]
}