*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
.DS_Store
pids
logs
results
release
npm-debug.log
node_modules
css/common/*.css
demo/sync/*.ttf
demo/sync/*.woff
demo/sync/*.eot
demo/sync/*.svg

dep/fonteditor-core
dist