@import './reset.less';

@import './bootstrap.less';

@import './def.less';

body, html {
    margin: 0;
    padding: 0;
    font-size: 13px;
    height: 100%;
}

// scroll bar
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.navbar {
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 51px;
    min-width: 1024px;
    top: 0;

    >.logo {
        width: 180px;
        height: 50px;
        background: url(./img/logo.png) no-repeat;
        float: left;
    }

    >.action-groups {
        margin-left: 180px;
        padding-left: 8px;
    }
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    position: fixed;
    width: 180px;
    top: @top-height;
    bottom: 0;
    background: #232830;
}

.main {
    margin-left: 180px;
    padding-top: @top-height;
    height: 100%;
    background: #BCC5CD;
    .glyf-list {
        padding: 10px 0 0 10px;
    }
}



.main.editing {
    margin-left: 70%;
}

// loading 动画
.loading {
    position: fixed;
    left: 50%;
    top: 30%;
    width: 200px;
    margin-left: -100px;
    line-height: 24px;
    text-align: center;
    z-index: 1000;
    display: none;
    
    span {
        display: inline-block;
        padding: 0 6px;
        background: rgba(84, 114, 93, 0.8);
        color: #FFF;
        border: 1px solid #DDD;
    }

}

.editor {
    position: fixed;
    width: 70%;
    top: @top-height;
    bottom: 0;
    z-index: 1;
    background: #FEFEFE;
    border-right: 1px solid #DDD;
    display: none;
}

.editor.editing {
    display: block;
}

.selection-range {
    position: absolute;
    z-index: 6;
    display: none;
    border: 1px solid #CCC;
    background: rgba(222, 222, 222, 0.5);
    pointer-events: none;
}

.forkme {
    position: absolute;
    color: #FFF;
    right: 2px;
    top: 2px;
    color: #333
}