

.setting-metrics {

    .modal-dialog {
        width: 800px;
    }

    .panose-inline {
        margin-bottom: -15px;
        .input-group {
            width: 100%;
        }
    }

}


.list-font-online {
    max-height: 400px;
    overflow: auto;
}
