

// fontface
@font-face {
    font-family: 'fonteditor';
    src: url('../font/iconfont.ttf') format('truetype');
}

.ico() {
    display: inline-block;
    font-family: 'fonteditor';
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.1px;
}

.i-ico(@unicode) {
    &:before {
        content: @unicode;
    }
}

.i-edit,
.i-del {
    .ico();
    font-size: 12px;
    &:hover {
        cursor: pointer;
        color: blue;
    }
}

.i-edit {
    .i-ico('\e605');
}

.i-del {
    .i-ico('\e611');
}

.i-github {
    .ico();
    .i-ico('\e600');
}

.close-editor {
    .ico();
    .i-ico('\e611');

    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 0 3px;
    z-index: 100;
    font-size: 14px;
    background: #FFF;
    border-left: 1px solid #000;
    display: none;
    &:hover {
        cursor: pointer
    }
}