

.import-pic-panel {
    height: 400px;
    overflow: auto;
    background: #FFF;
    margin-bottom: 15px;
    overflow: auto;

    .fitpanel {
        max-width: 98%;
        max-height: 98%;
    }
}

.import-pic-fitpanel {
    float: right;
}


