
.project-btns {

    margin: 0 15px;
    padding: 10px 0;
    border-bottom: #353D45 1px solid;

    .btn {
        margin-right: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .btn:last-child {
        margin-right: 0;
    }
}

.project {
    .project-title {
        font-weight: bold;
        color: #6F7D88;
        padding-left: 15px;
        line-height: 32px;
    }

    .project-list {
        line-height: 28px;

        a {
            color: #9EB0C0;
        }

        div {
            padding: 0 10px 0 15px;
        }

        div:hover {
            background: #323842;
            
            a {
                color: #FFF;
            }

            .i-del {
                display: block;
            }
        }

        .i-del {
            float: right;
            display: none;
            color: #FFF;
        }
    }
}