@import './reset.less';
@import '../../css/widget/ico.less';
@import '../../css/widget/glyph-editor.less';

body, html {
    height: 100%;
}

#render-view {
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
    display: block;
}
