* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: #03C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.hide {
  display: none;
}
body {
  font-size: 13px;
}
.upload-file {
  margin: 20px;
}
.i-font {
  font-family: 'truetype';
  display: inline-block;
  margin-right: 6px;
  color: green;
}
.font-list {
  height: 200px;
  overflow: auto;
}
.font-list li {
  width: 70px;
  float: left;
  padding: 10px;
  border: 1px solid #EEE;
  list-style: none;
  cursor: pointer;
}
.font-list li:hover {
  background: #E0E0E0;
}
.font-list li.selected {
  background: #ECECEC;
}
.svg-view {
  width: 500px;
  height: 500px;
  background: #F0F0F0;
}
.glyf {
  width: 100%;
}
.glyf .path {
  fill: green;
  stroke: none;
  stroke-width: 10px;
}
.boundary {
  fill: none;
  stroke-width: 1px;
  stroke: black;
}
